*, *::before, *::after {
	box-sizing: border-box;
}

#navbar {
	display: flex;
	justify-content: space-between;
	margin: 0px 30px;
}

#navbar-image {
	height: 50px;
}

main {
	display: flex;
}

#sidebar {
	background-color: #3b6a94;
	display: flex;
}