html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#navbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #f9f9f9;
	z-index: 1;
	width: 100%;
	padding: 0px 30px;
}

#navbar-image {
	height: 50px;
}

main {
	padding-top: 60px;
	display: flex;
	height: 100%;
}

#sidebar {
	background-color: #3b6a94;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: fixed;
}

a img, a label {
	color: #f9f9f9;
}

.main-rows{
	background-color: #cbcbcb;
	margin: 0px;
	width: calc(100% - 106px);
	flex: 100;
}

.card {
	margin: 10px 0px;
	padding: 15px;
	border-radius: 10px;
	flex: 1;
}

.card-body{
	display: flex;
	padding: 10px 0px 0px;
}

.card-text-user {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-pengumuman h6{
	text-align: center;
	vertical-align: middle;
}

#text-pengumuman {
	display: flex;
	justify-content: center;
	align-items: center;
}