/* CSS Reset */
/*
	Josh's Custom CSS Reset
	https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
	box-sizing: border-box;
}
  * {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	margin: 0px;
}
#root, #__next {
	isolation: isolate;
}
/* CSS Reset ends */

body {
	background-color: #cbcbcb;
	font-family: 'readex';
	font-size: 16px;
}

@font-face {
	font-family: 'readex';
	src:url('/assets/fonts/ReadexPro-Medium.ttf');
}

#navbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #f9f9f9;
	z-index: 1;
	width: 100%;
	padding: 0px 30px;
}

.navbar-left {
	display: flex;
	align-items: center;
}

.navbar-image {
	height: 50px;
}

.navbar-extra {
	padding-bottom: 5px;
	margin-left: 15px;
}

main {
	padding-top: 100px;
	padding-left: 146px;
	display: flex;
	height: 100vh;
	gap: 20px;
	flex-wrap: wrap;
	align-content: flex-start;
}

#sidebar {
	background-color: #3b6a94;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: fixed;
	height: 100vh;
	padding-top: 80px;
}

#sidebar a:hover {
	background-color: #266093;
}

#sidebar img {
	width: 80px;
	height: 80px;
}

a img, a label {
	color: #f9f9f9;
}

.btn {
	background-color: #3b6a94;
	border: none;
}

.btn:hover {
	background-color: #266093;
}

.list-group-flush {
	padding-left: 0px;
}

.card {
	width: 370px;
	height: 300px;
	border-radius: 10px;
	padding: 20px;
}

.card-top {
	display: flex;
	justify-content: start;
	align-items: center;
}

.card-top img {
	clip-path: circle();
}

.card-text {
	margin-left: 20px;
}

.list-tugas {
	margin-top: 20px;
	overflow-y: scroll;
}

.list-group-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 530px) {
	.card {
		width: 90%;
	}
	
	.card-top {
		flex-direction: column;
	}
	
	.card-top img {
		margin-bottom: 20px;
	}
	
	.list-group-item {
		flex-direction: column;
	}
}